<header>
  <div class="pb3-m w-100 bottom {{ .Site.Params.background_color_class | default "bg-black" }}">
    {{ partial "site-navigation.html" . }}
  </div>
  <div class="owl-carousel owl-theme">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>
</header>
<script type="text/javascript">$(document).ready(function(){
  $('.owl-carousel').owlCarousel();
});</script>