@media only screen and (min-width: 982px) {
  .nav-btn{
    float: right;
  }
  .navbar{
    position: fixed;
    top: 0;

    width: 100%;
  }


  .navbar{
    background-color: #fff;
      z-index: 100;
      position: fixed;
      bottom: 0;
      height:  140px;

    li{
      color: black;

    }
    
  }
}
.home-item ::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+53,000000+99&0+54,0.45+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 53%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.44) 99%, rgba(0,0,0,0.45) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 53%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.44) 99%,rgba(0,0,0,0.45) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 53%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.44) 99%,rgba(0,0,0,0.45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */

  /* Permalink - use to edit and share this gradient: https://colorzilla.com//* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+1,e5e5e5+1,e5e5e5+45,e5e5e5+65,e5e5e5+65,000000+100&0+56,0.5+100 */



}
.loce{
  display: none;
}
/* your styles go here */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.vcenter {
  margin-top: 3rem;
  margin-bottom: 3rem;

}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.pad2{
  padding: 2rem 0;
}
.view-sm{
  display: none!important;
}
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.li-16{
  /*width: 16.6667%;*/
  text-align: center;
  font-family: Montserrat;
  font-weight: normal;
}
nav{
  background: #fff;
}

.btn-template-main{
  color: white;
}


/*section1*/
.lll {
  background: url('../img/ll.png')no-repeat center right; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80% 80%;
  background-position-x: 30rem;
  /*padding-bottom: 5rem;*/
}
.ll2{
  min-height: 650px;
  color: #3A3933; 
  padding-left: 8rem;
}
.ll2 h3{
  font-size: 3rem;
  font-weight: lighter;
  color: #989689;
}
.aa{
  font-size: 1.85rem;
  font-weight: normal;
  
}
.ab{
  font-size: 9rem;
  font-family: Trajan Pro;
  color: #70A132;
  text-transform: uppercase;
}
.ac{
  font-size: 2.0rem;
  font-weight: normal;
}
.ad{
  font-size: 3.6rem;
}
.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
.home{
  margin:  0;
  margin-top: 140px;
}
.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #EAEAEA;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.back-i{
  position: absolute;
  left: 25rem;
  top: 3rem;
}
.bg-light-grey{
  background: #EAEAEA;

  height: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    min-width: 100%;
    height: auto;
}
#home-page .owl-controls{
    margin-top: 0px; 
    top: 10%;
    position: absolute;
    height:  200px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: justify;
}
#home-page .owl-pagination{
  display: none;
}
#home-page .owl-buttons{
  margin-left: 0;
  width:  100%;
  position: absolute;
  left: 0;
  right: 0;

}
#home-page  .owl-buttons .owl-prev{
  left:  0;
  position: absolute;
  margin-left: 10%;
}
#home-page  .owl-buttons .owl-next{
  right:  0;
  position: absolute;
  margin-right:  10%;
}
#text1{
  z-index: 2;
  position: absolute;
  top: 50%;
  margin-left: 10%;
}
.owl-buttons{
   /*margin-left: 1em;*/
}
/*description section*/

.ll3{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5rem;
}
.ll3 h3{
  margin-top: 0;
  font-size: 3.5rem;
  color: #70A132;
  font-weight: bold;

}
.ll3 p{
  font-size: 1.5rem;
  margin: 0;
  font-family: Montserrat;
  font-weight: normal;
  color: #3a3933;
}
.ll3 lead{
  margin-bottom: 5rem;
}

.white-top{
  border-top: 3px solid white;
  margin: 0 5rem;
  margin-top: -3rem;
  padding-top: 3rem;
}
.green{
  border-top: 5px solid #71a132;
  left: 15px;
  padding-bottom: 1em;
}
.fa, .fas {
  font-weight: 700;
}
.pad0{
  padding: 0;
}
.padtop4{
  padding-top: 4rem;
}
.mar0{
  margin:0;
}
#about .owl-controls{
  padding-top: 2.5em;
}
#about .owl-pagination{
  padding-right: 1em;
  right: 0;
  bottom: 5px;
  position: absolute;
}

/*features*/
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);  
  border-radius: 2rem;
  background: white;
  margin: 1rem;
}
.box-fea{
  padding: 2rem 3rem;
}
.svg{
    background-repeat: no-repeat;
    background-size: 80% 80%;
    min-height: 100px;
    background-position: center;
}
.bar p{
  padding: 1rem 0;
  text-transform: capitalize;
  font-size: 1.9rem;
  color:  #3A3933;
}
/*floor plan*/
#floor-plan{
  background: #fff /*linear-gradient(to right, #EAEAEA 30%, #fff 0%);*/
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 5rem;
}
#floor-plan h3{
  font-size: 36px;
  font-weight: normal;
}
#floor-plan p{
  font-size: 2rem;
  margin-top: 20px;
}
#floor-plan .card{
  text-transform: capitalize;
  padding: 2rem 3rem;
}
.floor_plan_1{
  border-top: 2px solid #70A132;
  border-bottom: 2px solid #70A132;
  padding-bottom: 2rem!important;
  padding-top: 2rem!important;
}
.digit{
  font-size: 6rem;
  padding-left: 2rem;
  padding-right: 3rem;
  font-weight: bold;
}
.internal{
  /*position: absolute;
  top: 6.5rem;*/
  font-size: 2rem;
  text-transform: capitalize;
}
/*site_plan*/
#image-zoom{
  width: 100%;
  /*height: 650px;*/
  overflow: auto;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#image-zoom img {
  height: auto;
  width: 100%;
}
.zoom-btn{
  position: absolute;
  bottom: 4rem;
  left: 10rem;
}
.zoom-btn button{
  background-color: #3A3933;
  color: white;
  border-radius: 20rem;
  padding: 1rem;
}
section{
  scroll-margin-top: 140px;
}
#site-plan .box-fea {
  padding: 6rem 3rem;
}
#site-plan .title{
  position: absolute;
  right: 18%;
  top: 10%;
}
#site-plan .bg-light-grey{
  height: 100%;
}
#site-plan h3{
  padding: 5rem 0;
  font-weight: 900;
}
#site-plan h4{
  margin: 1rem 0;
  font-size: 8rem;
}
/*accessibility*/
#accessibility{
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 5rem;
}
#accessibility .svg{
  min-height: 50px;
  width:  50px;
  background-size: 100% 100%;
  margin-top: 2rem;
}
#accessibility .top-border{
  border-top: 3px solid white;
  padding-top: 5px;
}
#accessibility h3{
  margin-bottom: 10px;
  padding-top: 1em;
}
#accessibility h4{
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
}
#accessibility p{
  font-weight: 800;
}
/*gallery*/
#gallery .boxsha{
  margin: 1em 0.5em;
  border-radius: 2rem;
}
#gallery .clickable{
  height: 100px;
}
#gallery .owl-buttons{
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}
#gallery .owl-buttons .owl-prev{
  left: 0;
  position: absolute;
}
#gallery .owl-buttons .owl-next{
  right: 0;
  position: absolute;
}
#gallery .owl-theme .owl-controls .owl-page.active span {
    background: #fff;
}


#gallery .owl-theme .owl-controls .owl-page span, #specifications .owl-theme .owl-controls .owl-page span {
    background: #70A132;
}
#gallery .owl-theme .owl-controls .owl-page.active span {
    background: #70A132;
}
.image-box{
  /*margin-left: -1em;*/
}
/*specifications*/
#specifications .boxsha{
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  padding: 3rem;
  margin: 1em;
  border-radius: 2rem;
}
#specifications p{
font-weight: normal;
font-size: 12px;
text-align: left;
color: #989689;

}
#contact .form-control{
  border-radius:  15px;
}
.panel-default .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-title{
  font-weight: bold;
  color:  #000;
}
.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    
}

#contact{
  padding: 5rem 13rem;
}
#contact h4{

  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: #70a132;

}
#contact p{
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #3a3933;
}
#contact button{
  width:  100%;
}
#mail{
  margin-top: 5rem;
  padding: 3rem 0;
}
#mail h4{
  color:  #70A132;
  font-size: 18px;
  font-weight: bold;
}
#mail h6 a{
  font-size: 42px;
  text-transform: lowercase;
  font-weight: 300;
  color:  #3A3933;
}
/*Footer*/
#footer{
  color:  #3A3933;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
#footer h4{
  font-size: 2rem;
}
#footer h5{
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}
#footer h6{
  font-size: 1.8rem;
  text-transform: lowercase;
  font-weight: normal;
}
#footer iframe{
  padding: 1rem 0;
  max-width: 100%;
  /*padding-bottom: 75%;*/
  /*max-height:  100%;*/
}
#footer .btm{
  position: absolute;
  bottom:  40px;
  right:  0;

}
#footer p{
  margin:  0;
}
#footer .lead{
  font-size: 1.8rem;
  line-height: 2.1rem;
}
#footer .btn{
  text-transform: capitalize;
  width:100%;
  border-radius: 1rem;
  border-radius: 1.5rem;
  padding: 1.5rem 1rem;
  font-size: 13px;
  background: #70A132;
  color: white;

}
#footer input{
  border-radius: 1.5rem;
  padding: 2.5rem 1rem;
}
#footer ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DDDBD4;
  opacity: 1; /* Firefox */
}
.btf{
  font-weight: bold;
}
#copyright a{
  /*color: #3A3933;*/
  text-transform: uppercase;
  font-weight: bold;
}
#copyright a:hover, a:focus{
  text-decoration: none;
  color:  black;
}

.circle-icon {
  color: white;
  background: #70a132;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  font-size: 3rem;
  /*padding: 15px;*/
}
.circle-icon:hover{
  background: black;
}
#copyright p{
  font-size: 1.2rem;
  left: 3rem;
  line-height: 1.1rem;
}
#footbar{
  position: fixed;
  top: 0;
  right: 5%;
}
#footbar a{
  color: white;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
}
#footbar .col-lg-6{
  padding:  0;
}
#footbar a, a:hover, a:focus{
  color: white;
  text-decoration: none;
}
#myBtn{
  border: 0;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
}

.primary-back{
  background-color: #3A3933;
  padding: 1rem 3rem;
}
.white-back{
  background-color: #fff;

}
.primary-text{
  color: #3A3933;
}
.white-text{
  color: #fff!important;
}
.dark-text{
  color: #000!important;
}
.secondary-text{
  color: #70A132;
}
.light-grey-text{
  color: #989689;
}
.secondary-back{
  background-color: #70A132;
  padding: 1rem 3rem;
}

.grey-back{
  background-color: #eaeaea;
  padding: 1rem 3rem;
}

.flex-inline{
  flex-direction: initial !important;
}
.distance{
  /*display:  contents;*/
  width: 2em;
}

.rmb10{
  margin-bottom: -1em;
}
#tm{
  font-size: 12px;
}
.round{
  border-radius: 25px;
}