@media only screen and (max-width: 981px) {
  .navbar{
    min-height: 62px;
    max-height: 1000px;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    right: 0;
  }
  .bd-example .fixed-top, .bd-example .sticky-top {
      position: static;
      margin: -1rem -1rem 1rem;
  }

  .fixed-top {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      background: #fff;
  }
  .btn-template-main{
    color: black;
  }
  .btn-template-main:hover, .btn-template-main:focus, .btn-template-main:active, .btn-template-main.active {
    background: #3A3933;
    color: #ffffff;
    border-color: #3A3933;
  }
  .container{
    padding: 0;
  }
  .home {
    padding-top: 7.5rem;
  }
  .view-sm{
    display: block!important;
  }
  .col-xs-12, .col-sm-12, .col-xs-6{
    padding: 0;
  }
 .mpad0{
  padding: 0;
 }
  .row{
    margin:0;
  }
  section, div.section {
    /* margin-bottom: 40px; */
    margin:0;
  }
  #nav-btm {
    top: 0;
    position: fixed;    
    width: 100%;
    transition: 0.2s;
  }
  #navbar{
    position: relative;
    top:auto;
    z-index: 200;
  }
  .navbar .navbar-buttons {

  }
  .navbar-default .navbar-toggle {
     border: none;
     color: white;
  }
  .navbar-brand {
    float: left;
    padding:  3px;
    font-size: 0;
    line-height: 0px; 
    height: 0px; 
    display: block;
   
  }
  .navbar-brand img{
    height:35px;
  }
  #close{
    color:  white;
    display: block;
    position: absolute;
    right: 0;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
  }
  nav ul{
    padding-top: 40%;
    float:  none!important;
    text-align: center;
  }
  .navbar-nav{
    margin: 0;
  }
  #navigation .float-end{
    float:  none!important;
  }

  .collapse.width, .collapsing{
    -webkit-transition-property: width;
    transition-property: width; 
    transition-duration: 0.1s;
    transition-timing-function: linear;

  }
  #navigation{
    /*background: url('../img/llgrey.png')no-repeat center right; */
    color: #fff;
    background-color: #000;
     position: fixed;
    top:  0;
    right: 0;
    background-size: 100% 100%;
    /*background-position-x: 15rem;*/
    margin-top: 5rem;
    width: 100%;
    padding: 0!important;
    margin: 0;
    height: 100%;
    /*transition: ease-in-out .5s;*/
    /*margin-top: 40px;*/
  }
  #navigation .phase{
    font-size: 1rem;
  }

  #navigation span,ul,li{
    opacity: 1!important;
  }

  .navbar ul.nav > li > a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.08em;
    font-size: 20px;
  }
  .li-16{
    width: 100%;
    text-align: center;
  }

  /*section*/
  .owl-carousel, .owl-stage-outer {
    max-height: 100%;

  }
  .owl-carousel .owl-item img {
      width: auto;
      height: 100%;
      max-width: unset!important;
    }
  #home-page .owl-pagination{
    display: none;
  }
  #home-page .owl-buttons{
    margin-left: 0;
    width:  100%;
    position: absolute;
    left: 0;
    right: 0;

  }
  #home-page  .owl-buttons .owl-prev{
    left:  0;
    position: absolute;
    margin-left: 10%;
  }
  #home-page  .owl-buttons .owl-next{
    right:  0;
    position: absolute;
    margin-right:  10%;
  }
  #text1{
    z-index: 2;
    position: absolute;
    top: 70%;
    margin-left: 5%;
    text-align:  left;
  }
  #text1 h2{
      font-size: 20px;
    }
  #text1 p{
    font-size: 12px;
  }
  .mpd0{
    padding:  0!important;
  }
  .mpdbtn{
    padding:  10px 16px!important;
  }
  .lll{
    background-size: 80% 140%;
    background-position-x: 13rem;
    background-position-y: 2rem;
    padding-bottom: 0;
  }
  .ll2{
    min-height: 20px;
    padding: 2rem;
    text-align: left;
    padding-bottom: 0;
  }
  .ll2 h3{
    font-size: 1.2rem;
    font-weight: lighter;
    color: #989689;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  h3{
    /*font-size: 1.2rem;*/
    margin-top: 2rem;
    font-weight: 900;
    color: #989689;
    text-align: left;
  }

  .aa{
    font-size: 1rem;
    font-weight: normal;
  }
  .ab{
    font-size: 4.5rem;
    font-family: Trajan Pro;
    padding-top: 2rem;
  }
  .abc{
    padding-bottom: 5rem;
  }
  .ac{
    font-size: 1.3rem;
    font-weight: normal;
  }
  .ad{
    font-size:1.3rem;
  }
  .col-xs-6{
    padding: 0;
  }
  p.lead {
    margin-bottom: 2rem;
  }
  .left{
    right: 50%;
  }
  .owl-buttons{
    display:none;
  }
  .white-top{
    border-top: 2px solid white;
  }
  /*about*/
  #about .owl-pagination {
    margin: auto;
    margin: auto;
    position: absolute;
    left: 0; bottom: 1em; right: 0;
  }
  .ll3 {
    text-align: center;
    padding: 0;
  }
  .ll3 h3{
    text-align: center;
  }
  .ll3 p{
    font-size: 1rem;
  }
  .bar p{
    font-size: 1.8rem;
  }
  .green{
    border-width: 1px;
    margin-right: 25%;
    padding-bottom: 0;
  }
  .bb-1{
    border-bottom: 1px solid grey;
  }
  .box-fea {
    padding: 5rem 3rem;
  }
  .h300{
    height: 300px;
  }
  /*floor plan*/
  #floor-plan{
    background: #EAEAEA;
    font-size: 2rem;
  }
  #floor-plan .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
      position: static;
  }
  #floor-plan p {
    font-size: 1.3rem;
    margin-top: 5px;
  }
  #floor-plan h3{
    padding-left: 0;
    margin-top: 5px;
  }
  .floor_plan_1{
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
  }
  .lrmargin1{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .digit{
    font-size:45px;
    padding-right: 1rem;
    padding-left: 0;
    /*position: relative;*/
    /*top: -10px;*/
  }
  .internal{
    top:2rem;
    font-size: 1.5rem;
  }
  .svg{
    min-height: 8rem;
  }
  .white-bb {
    background: white;
  }
  .vcenter{
    margin-top: 0;
    margin-bottom: 0;
  }
  #floor-plan .card {
    padding: 5rem 3rem;
  }
  #floor-plan img{
    padding: 4rem 0;
  }
  .white10{
    height: 100%;
    background: linear-gradient(180deg, #EAEAEA 85%, #fff 15%);
  }
  .view-md{
    display: none;
  }
  #site-plan .bg-light-grey {
    max-height: 250px;
  }
  .align-left-m{
    text-align: left;
  }
  #site-plan .px-10{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #site-plan .title {
    position: absolute;
    right: 5%;
    top: auto;
    padding-top: 20px;
  }
  #site-plan h3 {
    padding: 0 1rem;
    font-size: 2rem;
  }
  #accessibility h4{
    font-size: 1rem;
    vertical-align:middle;
    margin-top: 1rem;
  }
  #accessibility .top-border {
    border-top: 3px solid white;
    padding-top: 10px;
    padding-bottom: 2px;
  }
  #site-plan h4 span{
    font-size: 2rem;
    color: black;
    vertical-align:middle;
    text-transform: capitalize;
  }
  #site-plan .box-fea {
    padding: 5rem 3rem;
  }
  #accessibility .svg{
    min-height: 100px;
    width: auto;
    margin-top: 5px;
  }
  .map{
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 375px;
  }

  #image-zoom {
    max-height: 300px;
  }
  #accessibility{
    font-size: 1rem;
  }
  #accessibility p,h3{
    padding-left: 1rem;
  }
  #accessibility .same-height{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #accessibility h4 {
    padding-bottom: 1em;
  }
  #accessibility .right-display{
    padding-left: 30%;
  }
  #specifications .home-carousel .owl-theme .owl-controls .owl-page.active span {
    background: #000;
  }
  #copyright .col-xs-2{
    width: 20%;
  }
  #copyright p{
    line-height: 1.1rem;
  }
  #footbar{
    width:100%;
    text-align: center;
    /*bottom: 1em;*/
    top: 93%;
    right:  0;
  }
  #footbar .btn{
    width: 50%;
    margin: 0;
    font-size: 1.5rem;
  }
  #footbar .btn-group{
    width:  100%;
  }
  .pad22{
    padding: 2rem;
  }
  #footer h4,h5{
    font-size: 1.5rem;
  }
  #footer h6{
    font-size: 1.3rem;
    text-transform: lowercase;
    font-weight: normal;
  }
  
  
}