<section id="accessibility" class="bg-light-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="secondary-text">accessibility</h3>
        <p>Driving distance from Hijauan Valdor</p>
        <div class="row display-flex">
          {{ range .Site.Params.access.main }}
            <div class="col-md-6 same-height">

                <div class="row display-flex">
                  <div class="col-md-2 col-xs-3">
                    <div class="svg {{.icon}}"></div>
                  </div>
                  <div class="col-md-11 col-xs-12">
                    <h4 class="light-grey-text top-border">{{ .name }}</h4>
                  </div>
                

                {{range .sub}}
                  <div class="col-md-8 col-xs-6">{{.name}}</div>
                  
                  <div class="col-md-4 col-xs-6 align-right flex-inline right-display">±<span class="distance">{{.distance}}</span>km</div>
                {{end}}
                </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
    
  </div>
  
</section>