{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section class="mar0 home bg-light-grey">
    <div class="home-carousel fluid-container">
        <div class="homepage owl-carousel" id="home-page">

            {{ range sort .Site.Data.carousel "weight" }}
            <div class="home-item">
            	<picture>

                        {{ $imagePath := printf "/images/%s.jpg" .image }}
                        {{ $webp := printf "./images/%s.webp" .image }}
                        {{- $asset := resources.Get $imagePath -}}
                        {{ $tiny := ($asset.Resize "400x q90") }}
                        {{ $small := ($asset.Resize "600x q90") }}
                        {{ $medium := ($asset.Resize "700x q90") }}
                        {{ $large := ($asset.Resize "900x q90") }}
                        
                          <source srcset="{{ $webp }}" type="image/webp">
                          <img 
                          srcset="
                          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
                          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
                          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
                          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
                          img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
                <picture>

            </div>
	        {{ end }}

                
        </div>
        <div id="text1" >
        	<div class="row">
        		<div class="col col-sm-2 col-xs-4 mpd0">
        			<button type="button" class=" mpdbtn white-text round btn secondary-back btn-lg btn-block">Phase 7</button>
        		</div>
        		<div class="col col-sm-12 col-xs-12">
        			<h2  class=" white-text ">{{.Site.Params.carousel.h2a}}</h2>
        			<h2  class=" white-text ">{{.Site.Params.carousel.h2b}}</h2>
        			<p class=" white-text ">{{.Site.Params.carousel.p}}</p>
        		</div>
        	</div>
        </div>
            <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
