<section id="about" class="bg-light-grey text-center pt-5">
    <div class=" row">
        <div class="col col-sm-12 col-xs-12 mpad0 abc">
            <div class="ll3">
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="text-uppercase secondary-text">{{ .Site.Params.description.title |  safeHTML }}</h3>
                    </div>
                    <div class="col-md-12 ">
                        <p class="lead aa">{{ .Site.Params.description.description |  safeHTML }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.project owl-slider -->
</section>