<section id="about" class="bg-light-grey ">
    <div class="home-carousel">
            <div class=" row">
                <div class="col col-sm-5 col-xs-12 col-sm-push-7 mpad0 abc">
                    <div class="ll3">
                        <div class="row white-top">
                            <div class="col-md-12 ">
                                <h3 class="text-uppercase">{{ .Site.Params.description.title |  safeHTML }}</h3>
                            </div>
                            <div class="col-md-1 green"></div>
                            <div class="col-md-12 ">
                                <p class="lead aa">{{ .Site.Params.description.description |  safeHTML }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-7 col-xs-12 col-sm-pull-5 mpad0">
                    <div class="desciption-page owl-carousel" id="desciption-page">
                        {{ range sort .Site.Data.carousel2 "weight" }}
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-12">                                  
                                    {{ $webp := printf "./images/%s.webp" .image }}
                                    {{ $imagePath := printf "/images/%s.jpg" .image }}
                                    {{- $asset := resources.Get $imagePath -}}
                                    {{ $tiny := ($asset.Resize "400x q90") }}
                                    {{ $small := ($asset.Resize "600x q90") }}
                                    {{ $medium := ($asset.Resize "700x q90") }}
                                    {{ $large := ($asset.Resize "900x q90") }}
                                    <picture>
                                      <source srcset="{{ $webp }}" type="image/webp">
                                      <img 
                                      srcset="
                                      {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
                                      {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
                                      {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
                                      {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
                                      img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
                                    <picture>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div> 
            </div>
            <!-- /.project owl-slider -->
    </div>
</section>