{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white align-center">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                {{ range $index, $element := sort .Site.Data.features "weight" }}
                <div class="col-md-2 col-xs-6 h300">
                    <div class="box-fea card">
                        <div class="svg {{ .icon }}">
                            
                        </div>
                    </div>
                    <p>{{ $element.name | safeHTML }}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
