<section id='floor-plan'>
  <div class="container">
    <div class="row">
		<div class="col-md-6 col-xs-12 row bb-1">
			<div class="col-md-12 col-xs-12 ">

				{{ $webp := printf "./images/%s.webp" .Site.Data.type.typea.image }}
		        {{ $imagePath := printf "/images/%s.jpg" .Site.Data.type.typea.image }}
		        {{- $asset := resources.Get $imagePath -}}
		        {{ $tiny := ($asset.Resize "400x q90") }}
		        {{ $small := ($asset.Resize "600x q90") }}
		        {{ $medium := ($asset.Resize "700x q90") }}
		        {{ $large := ($asset.Resize "900x q90") }}
		        <picture>
		          <source srcset="{{ $webp }}" type="image/webp">
		          <img 
		          srcset="
		          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
		          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
		          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
		          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
		          img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
		        <picture>
			</div>
			<div class="col-md-12 col-xs-12 row">
				
				<div class="col-md-4 col-xs-4 ">
					<h3 class="secondary-text">{{.Site.Data.type.typea.name}} <b>{{.Site.Data.type.typea.plat}}</b></h3>
				</div>

				<div class="col-md-4 col-xs-4 align-right pad0">
					<p>Build-up-area</p>
					<p>Land area</p>
					<p>No. of units</p>
				</div>

				<div class="col-md-4 col-xs-4 align-left pad0">
					<p>:{{.Site.Data.type.typea.landup}}</p>
					<p>:{{.Site.Data.type.typea.build_up}}</p>
					<p>:{{.Site.Data.type.typea.unit}}</p>
				</div>
			</div>
	      <div class="col-md-12 col-xs-12 row text-center floor_plan_1">
	        {{ range $index, $element := sort .Site.Data.floor_plan "weight" }}
		        <div class="col-md-4 col-xs-4 ">
		        	<div class="svg {{ .icon }}"></div>
	                <div class="digit secondary-text">{{.digit}}</div>
	                <div class="internal">{{ .name }}</div>
		        </div>
	          {{ end }}
	      </div>
	      <div class="col-md-12 white-bb">
	        {{ $webp := printf "./img/%s.webp" .Site.Params.floor_plan.floor_plan }}
	        {{ $imagePath := printf "/img/%s.png" .Site.Params.floor_plan.floor_plan }}
	        {{- $asset := resources.Get $imagePath -}}
	        {{ $tiny := ($asset.Resize "400x q90") }}
	        {{ $small := ($asset.Resize "600x q90") }}
	        {{ $medium := ($asset.Resize "700x q90") }}
	        {{ $large := ($asset.Resize "900x q90") }}
	        <picture>
	          <source srcset="{{ $webp }}" type="image/webp">
	          <img 
	          srcset="
	          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
	          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
	          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
	          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
	          img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
	        <picture>
	      </div>
        </div>
        <div class="col-md-6 col-xs-12 row">
			<div class="col-md-12 col-xs-12 ">

				{{ $webp := printf "./images/%s.webp" .Site.Data.type.typeb.image }}
		        {{ $imagePath := printf "/images/%s.jpg" .Site.Data.type.typeb.image }}
		        {{- $asset := resources.Get $imagePath -}}
		        {{ $tiny := ($asset.Resize "400x q90") }}
		        {{ $small := ($asset.Resize "600x q90") }}
		        {{ $medium := ($asset.Resize "700x q90") }}
		        {{ $large := ($asset.Resize "900x q90") }}
		        <picture>
		          <source srcset="{{ $webp }}" type="image/webp">
		          <img 
		          srcset="
		          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
		          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
		          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
		          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
		          img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
		        <picture>
			</div>
			<div class="col-md-12 col-xs-12 row">
				
				<div class="col-md-4 col-xs-4 ">
					<h3 class="secondary-text">{{.Site.Data.type.typeb.name}} <b>{{.Site.Data.type.typeb.plat}}</b></h3>
				</div>

				<div class="col-md-4 col-xs-4 align-right pad0">
					<p>Build-up-area</p>
					<p>Land area</p>
					<p>No. of units</p>
				</div>

				<div class="col-md-4 col-xs-4 align-left pad0">
					<p>:{{.Site.Data.type.typeb.landup}}</p>
					<p>:{{.Site.Data.type.typeb.build_up}}</p>
					<p>:{{.Site.Data.type.typeb.unit}}</p>
				</div>
			</div>
	      <div class="col-md-12 col-xs-12 row text-center floor_plan_1">
	        {{ range $index, $element := sort .Site.Data.floor_plan "weight" }}
		        <div class="col-md-4 col-xs-4 ">
		        	<div class="svg {{ .icon }}"></div>
	                <div class="digit secondary-text">{{.digit}}</div>
	                <div class="internal">{{ .name }}</div>
		        </div>
	          {{ end }}
	      </div>
	      <div class="col-md-12 white-bb">
	        {{ $webp := printf "./img/%s.webp" .Site.Params.floor_plan.floor_plan }}
	        {{ $imagePath := printf "/img/%s.png" .Site.Params.floor_plan.floor_plan }}
	        {{- $asset := resources.Get $imagePath -}}
	        {{ $tiny := ($asset.Resize "400x q90") }}
	        {{ $small := ($asset.Resize "600x q90") }}
	        {{ $medium := ($asset.Resize "700x q90") }}
	        {{ $large := ($asset.Resize "900x q90") }}
	        <picture>
	          <source srcset="{{ $webp }}" type="image/webp">
	          <img 
	          srcset="
	          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
	          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
	          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
	          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
	          img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
	        <picture>
	      </div>
        </div>
    </div>
  </div>
</section>