<section id="site-plan" id="location" class="bg-light-grey">
  <div class="row display-flex">
    <div class="col-md-3 col-xs-12 bg-light-grey pad0 align-center align-left-m col-md-push-9">
      
      <div class="row">
        <div class="col-md-12 col-xs-6">
          <h3 class="secondary-text">site plan</h3>
          <div class="view-sm">
            <h4 class="secondary-text">{{ .Site.Params.site_plan.digit | markdownify }} <span>{{ .Site.Params.site_plan.quantity | markdownify }}</span></h4>
          </div>
        </div>
        <div class="col-md-8 col-xs-6 col-md-offset-2 ">
            <div class="box-fea card">
                <div class="svg {{ .Site.Params.site_plan.icon }}"></div>
            </div>
        </div>
        <div class="col-md-8 col-xs-6 col-md-offset-2 view-md">
          <h4 class="secondary-text">{{ .Site.Params.site_plan.digit | markdownify }}</h4>
            <p>{{ .Site.Params.site_plan.quantity | markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 pad0 col-md-pull-3">
      <div id="image-zoom">
        {{ $webp := printf "./img/%s.webp" .Site.Params.site_plan.img }}
        {{ $imagePath := printf "/img/%s.png" .Site.Params.site_plan.img }}
        {{- $asset := resources.Get $imagePath -}}
        {{ $tiny := ($asset.Resize "400x q90") }}
        {{ $small := ($asset.Resize "600x q90") }}
        {{ $medium := ($asset.Resize "700x q90") }}
        {{ $large := ($asset.Resize "900x q90") }}
        <picture>
          <source srcset="{{ $webp }}" type="image/webp">
          <img 
          srcset="
          {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
          {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
          {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
          {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
          img src="{{ $small.RelPermalink }}" id="map" alt="" class="img-responsive">
        <picture>
      </div>
      <!-- <div class="zoom-btn view-md">
        <button type="button" onclick="zoomin()"><i class="fas fa-plus"></i></button>
        <button type="button" onclick="zoomout()"><i class="fas fa-minus"></i></button>
      </div> -->
    </div>
    <div class="col-md-6 white-back"> 
      {{ $webp := printf "./img/%s.webp" .Site.Params.site_plan.map1 }}
      {{ $imagePath := printf "/img/%s.png" .Site.Params.site_plan.map1 }}
      {{- $asset := resources.Get $imagePath -}}
      {{ $tiny := ($asset.Resize "400x q90") }}
      {{ $small := ($asset.Resize "600x q90") }}
      {{ $medium := ($asset.Resize "700x q90") }}
      {{ $large := ($asset.Resize "900x q90") }}
      <picture>
        <source srcset="{{ $webp }}" type="image/webp">
        <img 
        srcset="
        {{- with $tiny.RelPermalink -}}{{.}} 200w{{- end -}}
        {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
        {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
        {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
        img src="{{ $small.RelPermalink }}" alt="" class="img-responsive">
      <picture>
    </div>
    <div class="col-md-6 white-back map col-xs-12">
      {{.Site.Params.site_plan.map2 |  safeHTML }}
    
     </div>
  </div>
</section>
<script>
  var original_width = document.getElementById("map").clientWidth;

  function zoomin() {
  var myImg = document.getElementById("map");
  var currWidth = myImg.clientWidth;
  debugger;
  if (currWidth > 2500) return false;
  else {
    myImg.clientWidth = (currWidth + 100) + "px";
  }
}

function zoomout() {
  var myImg = document.getElementById("map");
  var currHeight = myImg.clientHeight;
  var currWidth = myImg.clientWidth;
  debugger;
  if (currHeight < 600 || currWidth <= original_width ) return false;
  else {
    myImg.style.width = (currWidth - 100) + "px";
  }
}
</script>